<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<title>Customers</title>
<title>Insert title here</title>
</head>
<body>
	<h1>Customers</h1>
	<table class="table table-striped">
		<tr>
			<th>First name</th>
			<th>Last name</th>
			<th>E-mail</th>
		</tr>
		<tr th:each="customer : ${customers}">
			<td th:text="${customer.firstName}"></td>
			<td th:text="${customer.lastName}"></td>
			<td th:text="${customer.email}"></td>
		</tr>
	</table>
</body>
</html>